.MainBoard {
  background-image: url("./../../assets/main_bg.jpeg");
  color: #fff;
  text-align: center;
  background-size: contain;

  &-container {
	margin: 0 30%;
	padding-top: 120px;
	padding-bottom: 188px;
	@media screen and (max-width: 767px) {
	  margin: 0 25%;
	  padding: 50px 0;
	}
  }

  & h1 {
	font-size: 46px;
	line-height: 1;
	margin: 0 auto;
  }

  & h4 {
	margin: 0 auto;
	padding-top: 16px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 100;
  }

  & #input-search {
	width: 100%;
	height: 45px;
	border-radius: 5px;
	border: 1px solid #FFFFFF;
	padding-left: 16px;
  }

  & form {
	padding-top: 45px;
  }

  &-search {
	position: relative;

	& svg {
	  position: absolute;
	  right: 10px;
	  top: 16px;
	}
  }

  &-input_row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-top: 20px;
	width: 100%;
	font-size: 13px;
	line-height: 40px;
	font-weight: 600;
	@media screen and (max-width: 767px) {
	  flex-wrap: wrap;
	  flex-direction: column;
	}

	& .MainBoard-input {
	  &_select {
		color: #fff;
		background-color: rgba(0, 0, 0, 0.0001);
		flex-grow: 1;
		padding: 0 10px;

		& .select2-container--default, & .select2-selection--single {
		  background-color: transparent !important;
		  border: none;
		  text-align: left;
		}

		& .select2-selection__placeholder {
		  color: #fff !important;
		  font-size: 14px;
		  text-align: left;
		}

		& .select2-container--default .select2-selection--single .select2-selection__arrow b {
		  border-color: #fff transparent transparent transparent;
		}
	  }

	  &_type {
		border: 2px solid #fff;
		border-radius: 5px;
		@media screen and (max-width: 767px){
		  &:first-child {
			margin-bottom: 20px;
		  }
		}
	  }

	  &_twins {
		flex-grow: 2;
		border: 2px solid #fff;
		border-radius: 5px;
		display: flex;
		justify-content: space-around;
		flex-wrap: nowrap;
		@media screen and (max-width: 767px) {
		  flex-wrap: wrap;
		  border: none;
		}

		.MainBoard-input_select {
		  border: none;
		  width: 100%;
		  height: 45px;
		  font-size: 13px;
		  line-height: 40px;
		  font-weight: 600;
		  &:first-child {
			@media screen and (min-width: 767px) {
			  border-radius: 5px 0 0 5px;
			  border-right: 2px solid #FFFFFF;
			}
		  }
		  @media screen and (max-width: 767px) {
			border: 2px solid #fff;
		  }
		}
	  }
	}
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff !important;
}